@(usForm: Form[Us])

@import helper._

@main("US - Ajouter une nouvelle story"){
     
    @form(routes.USController.save()) {
        
        <fieldset>
            @CSRF.formField
            @inputText(usForm("name"), '_label -> "Nom de la User Story", '_help -> "")
            @inputText(usForm("description"), '_label -> "Description de la User story", '_help -> "")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create US" class="btn primary">  
            <a href="@routes.USController.getAllStories()" class="btn">Annuler</a>
        </div>
        
    }
    
}
