@(currentPage: List[Us])

@main("Toutes les users stories"){

	<div class="row">
	    <div class="col-md-10">
	    	<h1 id="homeTitle">@Messages("stories.list.title", currentPage.size)</h1>
	    </div>
	    <div class="col-md-2">
    		<a href="@routes.USController.create()" class="pull-right"><button class="btn btn-default">Ajouter US</button></a>
    	</div>
    </div>
    
	@if(flash.containsKey("success")) {
        <div class="alert-success alert">
            <strong>OK :) !</strong> @flash.get("success")
        </div>
    }
    
    @if(currentPage.isEmpty()) {
        <div class="well">
            <em>Rien à afficher</em>
        </div>
    } else {
      <table class="table zebra-striped">
            <tbody>
                @for(us <- currentPage) {
                    <tr>
                        <td><a href="@routes.USController.getStory(us.id)">@us.name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }

}

